.accordion {
  max-width: 585px;
  
  @include reset;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    margin: 0 auto;
  }
}

.accordion__item {
  
  @include reset;
  margin-bottom: 24px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(72, 72, 72, 0.2);

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    padding-bottom: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.accordion__item-header {
  position: relative;
  display: flex;
  align-items: baseline;
  padding-right: 131px;

  @include font-primary($size: 17px, $lh: 150%, $colorfont: $color-black);
  cursor: pointer;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    margin-bottom: 16px;
    padding-right: 31px;
    font-size: 16px;
    line-height: 160%;
  }

  &::after {

    @include pseudo();
    z-index: 5;
    right: 37px;
    top: 23px;
    width: 15px;
    height: 8px;
    background-size: auto;
    background-image: url("../img/icon_down.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  span {
    margin-right: 16px;
    font-weight: bold;
    font-size: 28px;
    line-height: 170%;
    background: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffd701;
  }
}

.accordion__item-content {
  display: none;
  max-width: 480px;
  margin-top: 24px;

  @include reset;

  @include font-primary($colorfont: rgba(72, 72, 72, 0.74));
  
  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    font-size: 14px;
    line-height: 160%;
  }
}

.accordion__item-header--active::after {
  background-image: url("../img/icon_up.svg");
}

.accordion__item-header--active ~ .accordion__item-content {
  display: block;
}
