.contacts {
  padding-top: 109px;
  padding-bottom: 42px;
  background-size: 1366px auto;
  background-image: url("../img/bg_contacts_watercolor@x1.png");
  background-position: center top 19px;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/bg_contacts_watercolor@x2.png");
  }

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    padding-top: 78px;
    padding-bottom: 62px;
    background-image: none;
  }
}

.contacts__wrapper {
  @include flexible ($direction: column, $justify: flex-start, $align: flex-start, $wrap: nowrap);
  width: 100%;
  max-width: 1272px;
  margin-left: auto;
  margin-right: 0;
}

.contacts__details {
  @include flexible ($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap);
  width: 100%;
  margin-bottom: 70px;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
}

.contacts__text-content {
  width: 547px;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    width: 320px;
    margin-right: 0;
    margin-bottom: 28px;
  }

  h2 {
    margin: 0;
    margin-bottom: 50px;
    font-family: $font-family--headers;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: $color-blue;
    text-align: center;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      margin-bottom: 24px;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
    }
  }
}

.contacts__position {
  position: relative;
  padding-left: 22px;

  @include flexible ($align: center);
  margin: 0;
  margin-bottom: 39px;

  &::before {
    @include pseudo();
    top: 50%;
    left: 4px;
    z-index: 2;
    width: 12px;
    height: 18px;
    background-size: contain;
    background-image: url("../img/marker-city.svg");
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }

  span {
    margin-right: 16px;
    font-family: $font-family--primary;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: rgba(72, 72, 72, 0.74);
  }

  button {
    position: relative;
    cursor: pointer;

    @include reset;
    padding-right: 25px;
    background-color: transparent;
    border: none;

    &::after {
      @include pseudo();
      top: 50%;
      right: 0;
      z-index: 2;
      width: 16px;
      height: 15px;
      background-size: contain;
      background-image: url("../img/gps_icon.svg");
      background-position: center;
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }

    span {
      margin-right: 0;
      padding-bottom: 3px;
      font-weight: 500;
      font-variant: small-caps;
      background-size: 100%;
      background-image: url("../img/city_underline.svg");
      background-position: left bottom;
      background-repeat: no-repeat;
    }
  }
}

.contacts__card {
  @include flexible ($direction: column);

  p:last-child {
    max-width: 480px;
    margin: 0;

    @include font-primary($size: 17px, $lh: 29px, $colorfont: rgba(72, 72, 72, 0.87));
    color: rgba(72, 72, 72, 0.87);

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.contacts__curator {
  @include flexible ($align: center);
  margin-bottom: 28px;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.contacts__curator-img {
  margin-right: 24px;
  width: 112px;
  height: 112px;
  border-radius: 50%;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    margin-bottom: 18px;
  }
}

.contacts__about {
  max-width: 268px;

  @include font-primary($size: 15px, $lh: 22px, $colorfont: rgba(72, 72, 72, 0.74));

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    max-width: 100%;
  }

  p {
    margin: 0;
    margin-bottom: 12px;
    color: $color-blue;

    span {
      margin-left: 8px;
      color: rgba(72, 72, 72, 0.74);
    }
  }

  p:first-of-type {
    display: inline-flex;
  }

  p:last-of-type {
    margin-bottom: 12px;
    font-size: 13px;
    line-height: 19px;
    color: rgba(72, 72, 72, 0.74);

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      margin-bottom: 13px;
    }
  }
}

.contacts__social {
  @include flexible ($align: baseline);
  @include reset-list;
  margin-left: -2px;
}

.contacts__social-item {
  @include flexible ($justify: center, $align: center);
  margin-right: 11px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    svg {
      fill: rgba(72, 72, 72, 0.5);
    }
  }

  a {
    @include flexible ($justify: center);
    width: 24px;
    height: 24px;
  }

  svg {
    fill: rgba(72, 72, 72, 0.16);
  }
}

.contacts__social-item--facebook {
  svg {
    width: 11px;
    height: 22px;
  }
}

.contacts__social-item--whatsapp {
  svg {
    width: 20px;
    height: 20px;
  }
}

.contacts__social-item--telegram {
  svg {
    width: 22px;
    height: 18px;
  }
}

.contacts__map {
  width: 100%;
  max-width: 702px;
  height: 448px;
  background-size: 702px auto;
  background-image: url("../img/bg_contacts_map@x1.png");
  background-position: right top 6px;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/bg_contacts_map@x2.png");
  }

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    background-size: 320px auto;
    background-image: url("../img/bg_contacts_map_mobile@x1.png");
    background-position: center;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/bg_contacts_map_mobile@x2.png");
    }
  }
}

.contacts__feedback {
  @include flexible ($justify: space-between, $align: flex-start, $wrap: wrap);
  align-self: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1174px;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    flex-direction: column;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.contacts__feedback-text {
  width: 364px;
  margin-top: 5px;
  margin-right: 14px;
  margin-bottom: 32px;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    width: 288px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 32px;
  }

  p {
    max-width: 328px;
    margin: 0;
    margin-bottom: 12px;

    @include font-primary($weight: 500, $size: 17px, $lh: 25px, $colorfont: rgba(72, 72, 72, 0.87));

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  p:last-of-type {
    max-width: 100%;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: rgba(72, 72, 72, 0.5);

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      font-size: 13px;
      line-height: 19px;
    }
  }
}

.contacts__form {
  width: 764px;

  @media (min-width: $mobile) and (max-width: $desktop - 1px) {
    width: 100%;
  }
}
