.feedback {
  background-size: 1259px auto, 523px auto;
  background-image: url("../img/bg_reviews_watercolor_desktop@x1.png"), url("../img/bg_reviews_sketch@x1.png");
  background-position: right top 38px, right top 60px;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/bg_reviews_watercolor_desktop@x2.png"), url("../img/bg_reviews_sketch@x2.png");
  }


  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    padding-top: 2px;
    background-size: 560px auto, 439px auto;
    background-position: left -181px bottom 109px, left 32px bottom 267px;
  }
}

.feedback__wrapper {
  max-width: 1203px;
  margin: 0 auto;

  h2 {
    margin: 0;
    margin-bottom: 8px;

    @include font-headers($weight: 700, $size: 40px, $lh: 49px, $colorfont: $color-blue);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      margin-bottom: 24px;
      font-size: 32px;
      line-height: 39px;
    }
  }
}

.feedback__slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.feedback__slider-list {
  @include flexible ($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap);
  width: 600vw;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback__slider-item {
  @include flexible ($align: flex-start);
  width: 100vw;
  max-width: 1203px;
  min-height: 440px;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    flex-direction: column;
    align-items: center;
  }
}

.feedback__img-author {
  display: block;
  width: 364px;
  margin-right: 40px;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    width: 240px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

.feedback__text-wrapper {
  @include flexible ($direction: column, $align: flex-start);
  width: 680px;
  margin-top: 40px;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    width: 288px;
    margin-top: 0;
  }

  h3 {
    @include reset;
    margin-bottom: 10px;

    @include font-primary($weight: 500, $size: 24px, $lh: 36px, $colorfont: rgba(72, 72, 72, 0.74));

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      font-size: 24px;
      line-height: 150%;
    }
  }

  p {
    @include reset;
    margin-bottom: 15px;
    padding-right: 9px;

    @include font-primary($weight: 400, $size: 17px, $lh: 29px, $colorfont: rgba(72, 72, 72, 0.74));

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      margin-bottom: 16px;
      padding-right: 0;
      font-size: 16px;
      line-height: 26px;
    }

    &:last-of-type {
      margin-bottom: 18px;

      @media (min-width: $mobile) and (max-width: $tablet - 1px) {
        margin-bottom: 24px;
      }
    }
  }

  p:first-of-type {
    display: flex;
    margin: 0;
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 21px;
    color: $color-blue;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 22px;
    }

    span {
      margin-left: 8px;
      color: rgba(72, 72, 72, 0.74);

      @media (min-width: $mobile) and (max-width: $tablet - 1px) {
        margin-left: 0;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}

.feedback__link {
  margin-bottom: 56px;
  font-family: $font-family--primary;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  text-decoration-line: underline;
  color: $color-blue;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 24px;
  }
}

.feedback__social {
  display: flex;
  align-self: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    align-self: flex-start;
    margin-left: -4px;
  }
}

.feedback__social-item {
  @include flexible ($justify: center, $align: center);
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;

  &:hover {
    svg {
      fill: $color-black;
      opacity: 0.5;
    }
  }

  a {
    @include flexible ($justify: center, $align: center);
  }

  svg {
    fill: $color-black;
    opacity: 0.2;
  }
}

.feedback__social-item--facebook {
  margin-right: 14px;
}

.feedback__social-item--twitter {
  margin-right: 18px;
}

.feedback__slider-nav {
  position: absolute;
  // left: 452px;
  left: 468px;
  bottom: 0;
  z-index: 10;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96px;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    top: 328px;
    left: 50%;
    bottom: auto;
  }
}

.feedback__slider-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 36px;
  font-family: $font-family--primary;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.5);
}

.feedback__slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  svg {
    width: 11px;
    height: auto;
    opacity: 0.5;
  }

  &:disabled {
    cursor: auto;

    svg {
      opacity: 0.2;
    }
  }
}

.feedback__btn--prev {
  margin-right: 16px;
}
