.first-promo {
  width: 343px;
  margin-bottom: 32px;
  font-family: $font-family--primary;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

  @media (max-width: $tablet - 1px) {
    width: 288px;
    font-size: 20px;
    line-height: 24px;
  }
}
