.first-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  // max-width: 1366px;
  width: 100%;
  min-height: 906px;
  margin: 0 auto;
  background-image: url("../img/bg_girl_desktop@x1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/bg_girl_desktop@x2.png");
  }

  @media (max-width: $tablet - 1px) {
    background-image: url("../img/bg_girl_mobile@x1.png");

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/bg_girl_mobile@x2.png");
    }
  }

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    min-height: 632px;
    padding-top: 20px;
    background-size: 100%;
  }
}
