.form {
  margin: 0;
}

.form--want-to-go {
  position: relative;
  width: 477px;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.form--contacts {
  display: flex;
  align-items: flex-start;

  @media (max-width: 1066px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form__group {
  width: 100%;
  margin: 0;
}

.form__group--contacts {
  width: 250px;
  margin-right: 24px;

  @media (max-width: 1066px) {
    width: 288px;
    margin-right: 0;
  }

  &:first-child {
    @media (max-width: 1066px) {
      margin-bottom: 8px;
    }
  }
}

.form__input {
  display: block;
  padding-top: 19px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-right: 40px;
  font-family: $font-family--primary;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  color: rgba(72, 72, 72, 0.5);
  border: 2px solid #e3e3e3;
  border-radius: 80px;
  outline: none;

  &:hover {
    border-color: #ffc92c;
  }

  &:focus {
    border-color: #ffc92c;
  }

  &::placeholder {
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    color: rgba(72, 72, 72, 0.5);
  }
}

.form__input--tel {
  &:focus {
    background-size: auto;
    background-position: left 60px bottom 17px;
    background-image: url("../img/bg-tel-focus.png");
    background-repeat: no-repeat;
  }
}

.form__input--want-to-go {
  width: 100%;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    margin-bottom: 8px;
    width: 100%;
  }
}

.form__input--contacts {
  width: 100%;
}

.form__btn {
  padding-top: 21px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 22px;
  font-family: $font-family--primary;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  font-variant: small-caps;
  color: #ffffff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  background: $color-gradient;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  outline: none;

  &:hover {
    background: #ffc341;
  }

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), #ffc341;
  }
}

.form__btn--want-to-go {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    position: static;
    transform: translateY(0);
    padding-left: 64px;
    padding-right: 64px;
  }
}

.form__btn--contacts {
  width: 216px;
  margin-right: 0;

  @media (max-width: 1066px) {
    width: 264px;
    margin-top: 24px;
  }
}
