.how-to-go {
  padding-top: 160px;
  padding-bottom: 134px;
  background-size: 581px auto, 1366px auto, 216px auto;
  background-image: url("../img/img_travel_desktop@x1.png"), url("../img/bg_travel_watercolor@x1.png"), url("../img/bg_travel_stamp@x1.png");
  background-position: left 12px top 160px, left top -40px, right top 370px;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/img_travel_desktop@x2.png"), url("../img/bg_travel_watercolor@x2.png"), url("../img/bg_travel_stamp@x2.png");
  }

  @media (min-width: $mobile) and (max-width: $desktop - 1px) {
    padding-top: 78px;
    padding-bottom: 0;
  }

  @media (min-width: $mobile) and (max-width: $desktop - 1px) {
    background-size: 216px auto;
    background-image: url("../img/bg_travel_stamp_mobile@x1.png");
    background-position: right top 355px;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/bg_travel_stamp_mobile@x2.png");
    }
  }
}

.how-to-go__wrapper {
  max-width: 552px;
  margin-top: 28px;
  margin-left: 50%;

  @media (min-width: $mobile) and (max-width: $desktop - 1px) {
    margin: 0 auto;
  }

  h2 {
    margin: 0;
    margin-left: 16px;
    margin-bottom: 25px;
    font-family: $font-family--headers;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: left;
    color: $color-blue;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      margin-left: 0;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
    }
  }

  h3 {
    max-width: 460px;
    margin: 0;
    margin-left: 16px;
    margin-bottom: 24px;
    font-family: $font-family--primary;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 29px;
    color: #484848;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 26px;
    }
  }

  p {
    margin: 0;
    margin-left: 16px;
    margin-bottom: 32px;
    font-family: $font-family--primary;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    text-align: left;
    color: rgba(72, 72, 72, 0.87);

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 22px;
    }
  }

  p:last-of-type {
    margin-left: 14px;
    padding-left: 14px;
    font-size: 15px;
    line-height: 21px;
    color: rgba(72, 72, 72, 0.5);
    border-left: 4px solid #ffd701;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      margin-left: 10px;
      margin-right: 16px;
      padding-left: 10px;
      font-size: 14px;
      line-height: 22px;
    }
  }

  br {
    display: none;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      display: initial;
    }
  }
}

.how-to-go__list {
  @include flexible ($direction: column, $justify: space-between);
  min-height: 272px;

  @include reset;
  margin-bottom: 48px;
  list-style: none;
  background-size: auto 210px;
  background-image: url("../img/bg_dashed.svg");
  background-position: left 17px top 38px;
  background-repeat: no-repeat;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    min-height: 342px;
    margin-left: 8px;
    margin-right: 16px;
    margin-bottom: 24px;
    background-size: auto 255px;
  }
}

.how-to-go__item {
  @include flexible ($align: center);
  @include reset;
  @include font-primary($lh: 21px, $colorfont: rgba(72, 72, 72, 0.87));

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    min-height: 66px;
    font-size: 14px;
    line-height: 22px;
  }

  span:first-child {
    @include flexible ($justify: center, $align: center);
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    margin-right: 24px;
    background-color: #ffffff;
    color: $color-yellow;
    border-radius: 50%;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      margin-right: 16px;
    }
  }

  span:last-child {
    max-width: 470px;
  }
}

.how-to-go__item:last-child {
  align-items: flex-start;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    align-items: center;
  }
}
