.life {
  position: relative;
  padding-top: 43px;
  padding-bottom: 64px;
  background-size: 90px auto, 1366px auto, 1366px auto;
  background-image: url("../img/bg_life_watch@x1.png"), url("../img/bg_life_watercolor@x1.png"), url("../img/bg_travel_watercolor@x1.png");
  background-position: right top 656px, left top, left top -1024px;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/bg_life_watch@x2.png"), url("../img/bg_life_watercolor@x2.png"), url("../img/bg_travel_watercolor@x2.png");
  }

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    padding-top: 55px;
    padding-bottom: 24px;
    background-image: none;
  }

  h2 {
    @include reset;
    margin-bottom: 24px;

    @include font-headers($lh: 49px, $colorfont: $color-blue);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      font-size: 32px;
      line-height: 39px;
    }
  }

  p {
    max-width: 744px;
    min-width: 288px;
    margin: 0 auto;
    margin-bottom: 46px;
    padding: 0;
    padding-right: 24px;

    @include font-primary($size: 17px, $lh: 29px, $colorfont: rgba(72, 72, 72, 0.87));
    text-align: right;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      margin-bottom: 24px;
      padding-left: 16px;
      padding-right: 16px;
      font-size: 16px;
      line-height: 26px;
      text-align: left;
    }

    br {
      display: none;

      @media (min-width: $mobile) and (max-width: $tablet - 1px) {
        display: initial;
      }
    }
  }
}

.life__gallery {
  max-width: 1190px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }

  ul {
    @include reset;
    list-style: none;
  }

  li {
    @include reset;
  }
}

.life__slider {
  margin: 0 auto;
  transform: translateX(0%);

  @include flexible ($align: flex-start, $wrap: nowrap);

  @media (min-width: $tablet) and (max-width: $desktop - 1px) {
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    min-width: 500vw;
  }
}

.life__slide {
  @include flexible ($justify: center, $align: center);

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    width: 100vw;
  }
}

.life__img-wrapper {
  position: relative;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    width: 288px;
    height: 400px;
  }

  img {
    display: block;
    width: 211px;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      width: 288px;
      height: 400px;
      object-fit: contain;
    }
  }

  span {
    position: absolute;
    left: 24px;
    right: 67px;
    bottom: 32px;
    z-index: 5;

    @include font-headers-big($weight: 800, $size: 21px, $lh: 25px, $colorfont: #ffffff);
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      left: 0;
      right: 0;
      bottom: 24px;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
    }
  }
}

.life__slide--primary {
  width: 482px;
  margin-right: 15px;

  @media (min-width: $tablet) and (max-width: $desktop - 1px) {
    margin-bottom: 30px;
  }

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    width: 100vw;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.life__img-wrapper--primary {
  margin-top: -66px;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    width: 288px;
    margin-top: 0;
  }

  img {
    width: 482px;
    object-fit: cover;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      width: 288px;
      object-fit: contain;
    }
  }

  span {
    left: 40px;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      left: 0;
    }

    br {
      display: none;

      @media (min-width: $mobile) and (max-width: $tablet - 1px) {
        display: initial;
      }
    }
  }
}

.life__slide-group {
  width: 655px;

  @include flexible ($align: flex-start, $wrap: wrap);
  flex-shrink: 0;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    flex-wrap: nowrap;
    width: 400vw;
  }

  .life__slide {
    margin-right: 30px;
    margin-bottom: 30px;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      margin-right: 0;
      margin-bottom: 0;
    }

    .life__img-wrapper {
      span {
        @media (min-width: $mobile) and (max-width: $tablet - 1px) {
          bottom: 2px;
        }
      }
    }

    &:nth-child(2) {
      width: 411px;
      margin-right: 0;

      @media (min-width: $mobile) and (max-width: $tablet - 1px) {
        width: 100vw;
      }

      .life__img-wrapper {
        width: 411px;

        @media (min-width: $mobile) and (max-width: $tablet - 1px) {
          width: 288px;
        }

        img {
          width: 411px;

          @media (min-width: $mobile) and (max-width: $tablet - 1px) {
            object-fit: cover;
          }
        }

        span {
          left: 32px;

          @media (min-width: $mobile) and (max-width: $tablet - 1px) {
            left: 0;
            bottom: 24px;
          }
        }
      }
    }

    &:nth-child(3) {
      width: 411px;
      margin-bottom: 0;

      @media (min-width: $mobile) and (max-width: $tablet - 1px) {
        width: 100vw;
      }

      .life__img-wrapper {
        width: 411px;

        @media (min-width: $mobile) and (max-width: $tablet - 1px) {
          width: 288px;
        }

        img {
          width: 411px;

          @media (min-width: $mobile) and (max-width: $tablet - 1px) {
            object-fit: cover;
          }
        }

        span {
          left: 32px;
          right: 19px;

          @media (min-width: $mobile) and (max-width: $tablet - 1px) {
            left: 0;
            right: 0;
            bottom: 23px;
          }
        }
      }
    }

    &:nth-child(4) {
      width: 214px;
      margin-right: 0;
      margin-bottom: 0;

      @media (min-width: $mobile) and (max-width: $tablet - 1px) {
        width: 100vw;
      }

      .life__img-wrapper {
        img {
          width: 214px;

          @media (min-width: $mobile) and (max-width: $tablet - 1px) {
            width: 288px;
          }
        }

        span {
          @media (min-width: $mobile) and (max-width: $tablet - 1px) {
            bottom: 23px;
          }
        }
      }
    }
  }
}

.life__slider-controls {
  display: none;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 15;

    @include flexible ($justify: space-between, $align: center, $wrap: nowrap);
    width: 64px;
  }
}

.life__btn {
  display: block;
  width: 6px;
  height: 6px;
  margin: 0;
  padding: 0;
  background-color: rgba(72, 72, 72, 0.2);
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.life__btn--active {
  width: 8px;
  height: 8px;
  background: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
}
