.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-modal;
  width: 100vw;
  height: 100vh;
  background-color: rgba(235, 235, 235, 0.95);

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    overflow-y: scroll;
  }
}
