.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  padding-top: 56px;
  padding-bottom: 40px;
  background-color: $color-background;
  border-radius: 8px;
  box-shadow: 0 8px 24px -12px #484848;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    top: 0;
    width: 100%;
    max-width: 480px;
    min-height: 100vh;
    padding: 0;
    padding-top: 32px;
    overflow-y: scroll;
  }
}

.modal--hidden {
  display: none;
}

.modal__content-wrapper {
  width: 392px;
  margin: 0 auto;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    width: 288px;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 16px;
  font-family: $font-family--headers;
  font-weight: bold;
  font-size: $font-size--h3;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: $color-blue;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    text-align: center;
    font-size: $font-size--h3-m;
    line-height: 29px;
  }
}

.modal__text {
  width: 360px;
  margin: 0;
  margin-bottom: 32px;
  font-family: $font-family--primary;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #484848;
  opacity: 0.87;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    width: auto;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 18px;
  height: 17px;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    top: 24px;
    right: 24px;
  }
}

.modal--accepted {
  padding-top: 120px;
  padding-bottom: 112px;
}

.modal__content-wrapper--accepted {
  position: relative;
  padding-top: 98px;
  text-align: center;

  &::after {
    @include pseudo();
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 66px;
    height: 64px;
    background-size: 100%;
    background-image: url("../img/icon_checkmark.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.modal__title--accepted {
  margin-bottom: 16px;
}

.modal__text--accepted {
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;
}

.modal__btn--accepted {
  margin-bottom: 0;
  padding-top: 19px;
  padding-left: 61px;
  padding-right: 61px;
  padding-bottom: 20px;

  @include font-primary($weight: 500, $size: 17px, $lh: 20px, $colorfont: #ffffff);
  text-align: center;
  font-variant: small-caps;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  background: $color-gradient;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  outline: none;

  &:hover {
    background: #ffc341;
  }

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), #ffc341;
  }
}
