.page-footer {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid rgba(72, 72, 72, 0.2);

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    padding-top: 30px;
  }
}

.page-footer__wrapper {
  @include flexible ($justify: space-between, $align: center);
  max-width: 1171px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 17px;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    flex-direction: column;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.page-footer__logo {
  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    margin-bottom: 24px;
  }

  img {
    display: block;
    width: 85px;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      width: 99px;
    }
  }
}

.page-footer__copyright {
  padding-left: 28px;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    margin-bottom: 30px;
    padding-left: 0;
  }

  p {
    margin: 0;
    font-family: $font-family--primary;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: rgba(72, 72, 72, 0.5);
  }
}

.page-footer__social {
  @include flexible ($align: center);
  @include reset-list;
  margin-left: -4px;
}

.page-footer__social-item {
  @include flexible ($justify: center, $align: center);
  width: 24px;
  height: 24px;
  margin: 0;
  margin-right: 20px;
  padding: 0;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    width: 32px;
    height: 32px;
  }

  &:last-child {
    margin-right: 0;
  }

  svg {
    fill: rgba(72, 72, 72, 0.5);
  }
}

.page-footer__social-item--facebook {
  svg {
    width: 11px;
    height: 22px;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      width: 14px;
      height: 28px;
    }
  }
}

.page-footer__social-item--twitter {
  svg {
    width: 24px;
    height: 18px;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      width: 30px;
      height: 24px;
    }
  }
}

.page-footer__social-item--instagram {
  svg {
    width: 20px;
    height: 20px;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      width: 26px;
      height: 26px;
    }
  }
}
