.page-header {
  position: absolute;
  top: 32px;
  left: 50%;
  z-index: 2;
  width: 1142px;
  margin-bottom: 433px;
  transform: translateX(-50%);

  @media (max-width: 1142px) {
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
  }

  @media (min-width: $mobile) and (max-width: 420px) {
    padding: 0;
  }
}

.page-header__list {
  @include flexible ($align: center);
  width: 100%;

  @include reset-list;

  @media (min-width: $mobile) and (max-width: 420px) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.page-header__item {
  margin: 0;

  @include font-primary($weight: 500, $size: 15px, $lh: 18px, $colorfont: $color-black);

  @media (max-width: $tablet - 1px) {
    font-size: 14px;
    line-height: 17px;
  }

  &--phone {
    margin-right: 31.7863%;

    @media (max-width: 1142px) {
      margin-left: 0;
      margin-right: 0;
    }

    @media (min-width: $mobile) and (max-width: 420px) {
      margin-left: auto;
      margin-right: 7px;
    }

    a {
      display: block;
      font: inherit;
      color: inherit;
      text-decoration: none;

      &:hover {
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
      }
    }
  }

  &--logo {
    margin-right: 33.8003%;
    width: 137px;

    img {
      width: 137px;
      height: 48px;
    }

    @media (max-width: 1142px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: $tablet - 1px) {
      img {
        width: 120px;
        height: 42px;
      }
    }

    @media (min-width: $mobile) and (max-width: 420px) {
      position: absolute;
      top: 50%;
      left: 16px;
      z-index: 3;
      margin-right: 0;
      transform: translateY(-50%);
    }
  }

  &--order-call {
    margin-right: 0;
  }
}

.page-header__btn {
  padding: 0;

  @include font-primary($weight: 500, $size: 15px, $lh: 18px, $colorfont: $text-color);
  font-variant: small-caps;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px dashed $text-color;
  cursor: pointer;

  &:hover {
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  }

  @media (max-width: $tablet - 1px) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: $mobile) and (max-width: 420px) {
    margin-top: 8px;
    margin-right: 9px;
  }
}
