.page-header {
  position: absolute;
  top: 32px;
  left: 50%;
  z-index: 2;
  width: 100%;
  max-width: 1176px;
  padding-left: 17px;
  padding-right: 17px;
  transform: translateX(-50%);

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    top: 20px;
    padding-left: 16px;
    padding-right: 7px;
  }
}

.page-header__list {
  @include flexible ($align: center);
  @include reset-list;
  width: 100%;

  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    height: 45px;
  }
}

.page-header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin: 0;
  word-wrap: break-word;

  @include font-primary($weight: 500, $size: 15px, $lh: 18px, $colorfont: $color-black);

  a {
    @include font-primary($weight: 500, $size: 15px, $lh: 18px, $colorfont: $text-color);
    text-decoration: none;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &--phone {
    width: 139px;
    margin-right: auto;
    text-align: center;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      align-self: flex-end;
      flex: 1 1 0;
      order: 2;
      margin-right: 0;
    }
  }

  &--logo {
    margin-right: auto;
    padding-right: 24px;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      justify-content: flex-start;
      align-items: flex-start;
      flex-basis: 100%;
      order: 1;
      margin-right: 0;
      padding-right: 0;
    }

    img {
      display: block;
      width: 137px;

      @media (min-width: $mobile) and (max-width: $tablet - 1px) {
        width: 120px;
      }
    }
  }

  &--order-call {
    width: 117px;
    margin-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-size: auto;
    background-image: url("../img/btn_underline.svg");
    background-position: left bottom;
    background-repeat: no-repeat;

    @media (min-width: $mobile) and (max-width: $tablet - 1px) {
      align-self: flex-end;
      flex: 1 1 0;
      order: 3;
      margin-right: 0;
    }
  }
}

.page-header__btn {
  padding: 0;
  text-decoration: none;

  @include font-primary($weight: 500, $size: 15px, $lh: 18px, $colorfont: $text-color);
  font-variant: small-caps;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  }
}
