// COLORS:
$color-black:                 #484848;
$color-blue:                  #1fc0fc;
$color-yellow:                #ffc341;
$color-gradient:              linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
$color-warning:               #ff0000;
$color-background:            #e5e5e5;

$text-color:                  #484848;

// FONT:
$font-size:                   15px;
$font-size--big:              17px;
$font-size--small:            13px;
$font-size--h1:               200px;
$font-size--h1-m:             72px;
$font-size--h2:               40px;
$font-size--h2-m:             32px;
$font-size--h3:               28px;
$font-size--h3-m:             24px;
$font-size--h4:               21px;
$font-size--h4-m:             18px;

$font-family--primary:        "Fira Sans", "Arial", sans-serif;
$font-family--headers:        "Montserrat", "Arial", sans-serif;
$font-family--headers-big:    "Raleway", "Arial", sans-serif;

// @MEDIA
$mobile:                      320px;
$tablet:                      768px;
$desktop:                     1024px;

// OTHER
$z-index-modal:               100;
